Terraform\Main\network\.terraform.lock.hcl
Terraform\Main\web_app\.terraform.lock.hcl
Terraform\Main\web_app\docker-Sudeep
Terraform\Main\web_app\docker-Sudeep.pub
Terraform\Main\web_app\terraform.tfstate
Terraform\Main\web_app\terraform.tfstate.backup
Terraform/Main/web_app/docker-Sudeep
Terraform/Main/web_app/docker-Sudeep.pub
Terraform/Main/web_app/install_httpd.sh
Terraform/Main/web_app/terraform.tfstate
Terraform/Main/web_app/terraform.tfstate.backup